<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h5>Fecha <%= fechaActual %></h5>
    <p><%= bienvenido %></p>
  <main>
    <% productos.forEach(producto => { %>
      <img src="<%= producto.foto %>" alt="<%=producto.name%>">
      <ul>
        <li class ="TituloProducto"><%= producto.name %> </li>
        <li>Precio: <%= producto.precio %> € </li>
        <li><%= producto.tags %> </li>
        <li class="estado"> 
          <% if (producto.venta) { %>
            <p>Venta</p>
            <button>Comprar</button>
          <% } else { %>
            <p>Compra</p>
            <button>Vender</button>
          <% } %>
        </li>
      </ul>
      
    <% }) %>
  </main>
  </body>
</html>
