<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h5>Fecha <%= diaActual %>/<%= mesActual %>/<%= annoActual %></h5>
    <p><%= bienvenido %></p>

    <H2>Nuestros productos</H2>
    <div>
      <h3>Bicicleta</h3>
      <p>230,15 €</p>
      <img src="./images/BicicletaElectrica.jpg" alt="">
      <h6>LifeStyle, Motor</h6>
    </div>

    <div >
      <h3>Iphone 12 Pro Max</h3>
      <p>800 €</p>
      <img src="./images/iphone12.jpg" alt="">
      <h6>LifeStyle, Mobile</h6>
    </div>

    <div >
      <h3>Asus Rog-Strix G17</h3>
      <p>950 €</p>
      <img src="./images/AsusROG.jpg" alt="">
      <h6>LifeStyle, Work, Mobile</h6>
    </div>

    <div >
      <h3>Mi Scooter</h3>
      <p>300 €</p>
      <img src="./images/Patinetexiaomi.jpg" alt="">
      <h6>LifeStyle, Motor</h6>
    </div>
  </body>
</html>
